UIPATH_BASE_URL=https://cloud.uipath.com/your-org/DefaultTenant/orchestrator_
UIPATH_ACCOUNT_LOGICAL_NAME=your-org
UIPATH_TENANT_LOGICAL_NAME=DefaultTenant
UIPATH_CLIENT_ID=
UIPATH_CLIENT_SECRET=
UIPATH_FOLDER_KEY=
UIPATH_OAUTH_SCOPES=OR.Default
UIPATH_TOKEN_URL=https://cloud.uipath.com/identity_/connect/token
